
.header-container {
  width: 100%;
  background-color: #F0EDE6;
  display: flex;
  justify-content: center;
  padding: 16px 0;
  position: webkit-sticky;
  top: 0;
  z-index: 1000;
}


.nav-box {
  width: 90%;
  padding: 12px 24px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}


.spacer {
  flex-grow: 1;
}


.link-container {
  display: flex;
  gap: 16px;
}


.link {
  text-decoration: none;
  color: white;
  font-weight: 600;
  padding: 10px 16px;
  border-radius: 6px;
  transition: all 0.3s ease;
  border: 2px solid transparent;
  background-color: #CFC6B8;
}


.link:hover {
  background-color: #42341dff;
}


.link:active {
  background-color: #2f2b1d;
}
