.fullpage {
    width: 100%;
    background-color: #F0EDE6;
}

.box1 {
    width: 90%;
    display: flex;
    background-color: #D8E4D5;
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap: 32px;
    justify-content: center;
    margin: auto;
}

.box2 {
    width: 90%;
    display: flex;
    background-color: #536656;
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap: 32px;
    align-items: center;
    margin: 40px auto;
}

.box3 {
    width: 90%;
    display: flex;
    background-color: #D8E4D5;
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap: 32px;
    align-items: center;
    margin: auto;
}

.box4 {
    width: 90%;
    display: flex;
    background-color: #536656;
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap: 32px;
    align-items: center;
    margin: 40px auto;
}

.ProfilePic {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    flex-shrink: 0;
}

.PersonalStatement {
    flex: 1;
    color: #3B4E28;
    font-family: 'Georgia', serif;
    font-size: 16px;
    line-height: 1.6;
}
.name {
  font-size: 3.5rem;              
  font-weight: 800;                
  margin: 0;
  line-height: 1.2;
  font-family: 'Merriweather Sans', sans-serif;
  color: #FFFFFF;                  
  text-align: center;
}

.name2 {
  font-size: 1.5rem;                
  font-weight: 300;                 
  color: #FFFFFF;                   
  margin-top: 0.4rem;
  text-align: center;
}

.p1,
.p2,
.p3,
.p4 {
  margin-bottom: 14px;
  font-style: italic;
  font-size: 1rem;                  
  color: #F2E8C9;                    
  line-height: 1.6;
  text-align: justify;
}

.comment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto; 
}

.comment {
  width: 400px; 
  height: 200px; 
  padding: 12px 16px;
  font-size: 1rem;
  border-radius: 36px;
  border: 1.5px solid #ccc;
  box-sizing: border-box; 
  margin-bottom: 16px; 
}

.custom-submit-btn {
  display: block;
  margin: 0 auto; 
  padding: 12px 28px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 16px;
  border: none;
  background-color: #CFC6B8; 
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-submit-btn:hover {
  background-color: #42341dff;
  border-color: #42341dff;
}

.custom-submit-btn:active {
  background-color: #2f2b1d;
  border-color: #2f2b1d;
  transform: scale(0.98);
}


.separator {
  width: 4px;
  background: #CFC6B8;
}