.fullpage {
    width: 100%;
    background-color: #12131A;
}

.introduction {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0px 80px;
  background-color: #12131A;
  color: #EDEDED;
}

.intro-text {
  flex: 1;
  z-index: 3; 
  max-width: 600px;
}

.intro-name {
  font-size: 100px;
  font-weight: 900;
  line-height: 1.2;
}

.intro-name span {
  color: #7A2FFF;
}

.intro-h2 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0.5rem 0 1.5rem;
  color: #FFFFFF;
}

.intro-h2p {
  font-size: 1.2rem;
  font-weight: 100;
  color: #FFFFFF;
}

.intro-image {
  flex: 1;
  position: relative;
}

.profile-pic {
  width: 650px;
  height: 650px;
  object-fit: cover;
  border-radius: 12px;

  position: relative;
  top : 70px;
  z-index: 1;
}

.education {
    width: 90%;
    display: flex;
    background-color: #271d4f;
    border-radius: 12px;
    padding: 24px;
    gap: 32px;
    align-items: center;
    margin: 40px auto;
}

.experince {
    width: 90%;
    display: flex;
    background-color: #D8E4D5;
}

.box4 {
    width: 90%;
    display: flex;
    background-color: #536656;
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap: 32px;
    align-items: center;
    margin: 40px auto;
}

.honors {
  font-size: 1.2rem;
  font-weight: 500;
  color: #c7b560;
  font-family: 'old english';
}

.uniName {
  color: 	#c7b560;  
  font-size: 2.0rem;              
  font-weight: 900;                
  margin: 0;
  line-height: 1.2;
  font-family: 'old english';              
  text-align: center;
}

.degree {
  color: 	#c7b560;  
  font-size: 1.3rem;              
  font-weight: 600;                
  margin: 0;
  line-height: 1.2;
  font-family: 'old english';
}

.p1 {
  margin-bottom: 14px;
  font-style: italic;
  font-size: 1rem;                  
  color: #B7A57A;                    
  line-height: 1.6;
  text-align: justify;
}
.experience-box {
  width: 70%;
  background-color: #f9f9f9;
  padding: 1.5rem;
  border-radius: 10px;
  border-left: 24px solid #B7A57A;
  position: relative;
  top: -70px;
  left: 300px;
  z-index: 2;
}

.section-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #333;
}

.exp {
  display: flex;
  position: relative;
  padding-left: 2rem;
  margin-bottom: 1.5rem;
}

.exp:last-child {
  margin-bottom: 0;
}

.timeline-dot {
  width: 8px;
  height: 12px;
  background-color: #B7A57A;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 8px;
}

.exp-content {
  flex: 1;
}

.title-row {
  display: flex;
  gap: 100px;
  font-weight: bold;
  align-items: center;
}

.worktitle {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.worktitle span {
  color: #B7A57A;
}

.workPlace {
  font-size: 1rem;
  color: #555;
}

.workPeriod {
  font-size: 0.9rem;
  font-style: italic;
  color: #B7A57A;
}

.researchTitle {
  font-style: italic;
  color: #777;
}

.workDetail {
  margin-top: 0.4rem;
  font-size: 0.95rem;
  color: #444;
  padding-left: 1.2rem;
}

.workDetail li {
  margin-bottom: 0.4rem;
}

.skills {
  width: 25%;
  height: 700px;
  background-color: #B7A57A;
  padding: 1.5rem;
  border-radius: 10px;
  position: relative;
  top: -700px;
  z-index: 2;
}